<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>amazingzoom</name>
	<displayName><![CDATA[Amazing Zoom Product Image]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Zoom Effect for Product Image]]></description>
	<author><![CDATA[Smart Soft]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
